################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GolfingStats/v15/Server/sqlite3
GolfingStats/GolfingStats/obj/
GolfingStats/GolfingStats.Android/obj/
GolfingStats/GolfingStats.Android/bin/
GolfingStats/GolfingStats.UWP/obj/
GolfingStats/GolfingStats.UWP/bin/
GolfingStats/GolfingStats.iOS/bin/
GolfingStats/GolfingStats.iOS/bin/
