################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GolfingStats/v15/Server/sqlite3
/GolfingStats/GolfingStats.Android/obj/
/GolfingStats/GolfingStats.Android/bin/