<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.3" package="com.GolfingStats" android:installLocation="auto" android:versionCode="4">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Golfing Stats" android:icon="@drawable/icon"></application>
</manifest>